.hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	object-fit:  cover;
	width: 100px;
	height: 150px;
}
.btn{
	background-color: red;
	color: white;
	padding: 2px;
	border-radius: 1px;
}